{% extends "base.html" %}

{% block header %}

  <section class="home-section" style="width: 100%; left: 0;">
    <nav class="dashboard-nav" style="width:100%; left:0;">
      <div class="sidebar-button">
        <a href="/dashboard?id={{session.id}}">
        <img src="../static/image/logo-white.png" alt="img"></img>
       </a>

        <span class="dashboard">Vista Hotel</span>
      </div>

      <div class="search-box">
        <input type="text" placeholder="Search..." />
        <img src="static/image/search.png" alt="">
      </div>

      <div class="navbar_right">
        <div class="notifications"  onclick="notificationToggle();">
            <div class="icon_wrap"><i class='bx bx-bell'></i></div>
            
            {% if bookingInfo %}
            
            <div class="notification_dd">
                {% for booking in bookingInfo %}
                <ul class="notification_ul">
                    <li class="success">
                        <div class="notify_data">
                            <div class="title">
                                Booking For {{booking[2]}}  
                            </div>
                        </div>
                        {% if booking[9] == "Confirmed" %}
                        <div class="notify_status">
                            <p style="color: #47da89;">{{booking[9]}}</p>  
                        </div>
                        {% elif booking[9] == "Cancelled"%}
                        <div class="notify_status" >
                            <p style="color: #fb0001;">{{booking[9]}}</p>  
                        </div>
                        {% elif booking[9] == "Pending"%}
                        <div class="notify_status" >
                            <p style="color: #fbcd00;">{{booking[9]}}</p>  
                        </div>
                        {% endif %}
                    </li>  
                </ul>
                {% endfor %} 
            </div> 
               
            {%else%}
            <div class="notification_dd"> 
                <p style="font-size:16px; padding:10px; color: black">No notifiction</p>
            </div>
            {% endif %}
        </div>
        <div class='profile' onclick="profileToggle();">
            <div class="icon_wrap">
                <img src="../static/image/user.png" alt="" /> 
                <span class="name">{{session["name"]}}</span>   
                <i class="bx bx-chevron-down"></i>
            </div>
            <div class="profile_dd">
                <h3>{{session["name"]}}
                   <div>
                       Member
                   </div>
                </h3>
                <ul class="profile_ul">
                <li><a href="#"><i class="fas fa-user-alt"></i></span>Profile</a></li>
                <li><a class="settings" href="/dashboard"><span class="picon"><i class="bx bx-grid-alt"></i></span>Dashboard</a></li>
                <li><a class="address" href="/bookings?id={{session.id}}"><span class="picon"><i class="bx bx-list-ul"></i></span>Bookings</a></li>
                <li><a class="logout" href="/logout"><span class="picon"><i class="fas fa-sign-out-alt"></i></span>Logout</a></li>
                </ul>
            </div>
        </div>
      </div>
    </nav>

    <script src="static/js/dashboard.js"></script>
{% endblock %}
