.booking-container {
    height: 100vh;
    padding: 100px;
    margin: 20px auto;
  }

  .booking-label{
    margin:20px;
    display: flex;
    justify-content: center;
  }

  .booking-label h3{
    color:#ccc;
    font-size: 34px;
    font-weight: 600;
  }
  

  .booking-container .booking-list {
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px; 
  }

  .booking-list ul {
    display: flex;
    flex-wrap: wrap;
    
  }

  .booking-list li {
    margin:10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    list-style: none;
    background-color: #ccc;
    
  }

  .booking-list .cancel-button {
    margin-top: 15px;
  }

  .booking-list .cancel-button a{
    background-color: #ff0000; /* Change to your desired button color */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 10px;
    margin-top: 15px;
  }
  
  .booking-list .cancel-button a:hover {
    background-color: #970808; /* Change to your desired button hover color */
  }

  .booking-list .refund-button {
    margin-top: 15px;
  }

  .booking-list .refund-button a{
    background-color: #028597; /* Change to your desired button color */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 10px;
    margin-top: 15px;
  }
  
  .booking-list .refund-button a:hover {
    background-color: #124257; /* Change to your desired button hover color */
  }

  
