.movie-container {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 1200px;
    width: 100%;
    margin: 30px auto;
  }


.movie-container .content {
    position: relative;
    display: flex;
    justify-content:space-between;
    min-height: 100vh;
    max-width: 1200px;
    width: 100%;
  }
  
 
  .movie-container .movies .image-box {
    position: relative;
    height: 300px;
    width: 220px;
    border-radius: 8px;
    overflow: hidden;
  }

  .movie-container .movies .info-box {
    position: relative;
    height: 300px;
    width: 900px;
    border-radius: 8px;
    overflow: hidden;
    margin:0px auto;
  }

.movies {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top:150px;
    margin-right:20px;
    margin-left: -12px;
    background-color: #a6a4a5b9;
    border-radius: 8px;
  }

  .movies .cards {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5px;   
  }

  .movies .image-box {
    margin: 12px;
  }

  .movies .image-box img {
    height: 100%;
    width: 100%;
    border-radius: 6px;
    transition: transform 0.2s linear;
  }

  .movies .image-box:hover img {
    transform: scale(1.05);
  }

  .movies .info-box .title {
    position: absolute;
    bottom: 240px;
    left: 10px;
    color: #fff;
    font-size: 28px;
    font-weight: 600;
    text-transform: capitalize;
  }

  .movies .info-box .info {
    position: absolute;
    bottom: 200px;
    left: 10px;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    text-transform: capitalize;
  }

  .movies .info-box .lang {
    position: absolute;
    bottom: 80px;
    left: 10px;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    text-transform: capitalize;
  }

  .movies .info-box .genre {
    position: absolute;
    bottom: 40px;
    left: 10px;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    text-transform: capitalize;
  }

  .movies .info-box .date {
    position: absolute;
    bottom: 0px;
    left: 10px;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    text-transform: capitalize;
  }

  .movies .schedules{
    margin-top: 30px;
    border-top: 2px solid #ccc;
  }

  .schedules .schedule-info{
    margin:20px auto;
    font-size: 24px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    color: #fff;
  }

  .schedules .item{
    display: flex;
    justify-content:center;
    margin-top: 30px;
    flex-wrap: wrap;
  }

  .schedules .item .form-item{
    margin: 20px;
    padding:10px 30px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .schedules  button {
    background-color: #f2f2f2;
    font-size: 18px;
    padding:5px 35px;
    cursor: pointer;
    margin:30px auto;
    border-radius: 4px;
    display: block;

  }

  .schedules input[type="radio"] + label {
    cursor: pointer;
  }

  .schedules .item .form-item button:hover {
    background-color: #000000;
    color: #ccc;
  }

  .schedules input[type="radio"] {
    display: none; /* Hide the default radio button */
  }

  .schedules input[type="radio"] + label:hover {
    background-color: #407182;
    color:#fff;
  }

  .schedules input[type="radio"]:checked + label {
    background-color: #407182;
    color: #fff;
}

  .add-screening{
    display: flex;
    margin: 30px auto;
  }

  .add-screening .add-screening-button{
    background-color: #407182;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-items: center;
    font-size: 20px;
    margin: 10px auto;
  }

  .add-screening .add-screening-button:hover {
    background-color: #000000;
    color: #fff;
  }

  .add-screening .add-screening-button:active {
    background-color: #000000;
    color: #fff;
  }

  .add-screening-form .form-group {
    margin: 10px 0;
}

/* Style labels */
.add-screening-form .form-group label {
    display: block;
    font-weight: bold;
}

/* Style input fields */
.add-screening-form .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

/* Style the submit button */
.add-screening-form .form-group button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.add-screening-form .form-group button:hover {
    background-color: #0056b3;
}

/* Style the select element */
.add-screening-form .form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}

/* Style select options */
.add-screening-form .form-group select option {
  padding: 10px;
}

/* Style the select when focused */
.add-screening-form .form-group select:focus {
  border-color: #007bff;
}


.schedules .cancel-button {
  margin-top: 15px;
}

.schedules .cancel-button a{
  background-color: #ff0000; /* Change to your desired button color */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px 10px;
  margin-top: 15px;
}

.schedules .cancel-button a:hover {
  background-color: #920404; /* Change to your desired button hover color */
}

