.ticket-container {
    height: 100vh;
    padding: 100px;
    margin: 20px auto;
  }

  .ticket-label{
    margin:30px;
    display: flex;
    justify-content: center;
  }

  .ticket-label h3{
    color:#ccc;
    font-size: 34px;
    font-weight: 600;
  }
  
  .ticket-container .ticket-card {
    margin: 10px auto;
    padding: 30px;
    border: 1px solid #ccc;
    width: 700px;
    height: auto;
    border-radius: 5px; 
    display: flex;
    flex-direction: column;
    background-color: #a6a4a5b9;
  }

  .ticket-card .ticket-movie{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }

  .ticket-card .ticket-movie h3{
    font-size: 30px;
  }

  .ticket-card .ticket-screening{
    display: flex;
    justify-content: center;
    margin-bottom:10px;
  }

  .ticket-card .ticket-screening h3{
    margin:20px;
    font-size: 20px;
  }

  .ticket-card .amount-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .ticket-card .amount-container .ticket-seat{
    font-size: 18px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
  }

  .ticket-card .amount-container .ticket-seat p{
    font-size: 18px;
    margin-left: 150px;
    font-size: 24px;
    font-weight: 600;
  }

  .ticket-card .amount-container .ticket-amount{
    font-size: 18px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .ticket-button{
    background-color: black;
    color: #ccc;
    padding: 10px 20px;
    font-size: 22px;
    width: 700px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    margin: 20px auto;
  }

  .ticket-button a{
    cursor: pointer;
    color:#ccc   
  }

  .ticket-button:hover{
    background-color: #407182;
  }
