.login{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:30px;
    padding: 30px;
  }
  .login-container{
    position: relative;
    max-width: 850px;
    width: 100%;
    background: #fff;
    padding: 40px 30px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    perspective: 2700px;
  }
  .login-container .cover{
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    width: 50%;
    z-index: 98;
    transition: all 1s ease;
    transform-origin: left;
    transform-style: preserve-3d;
  }
  .login-container #flip:checked ~ .cover{
    transform: rotateY(-180deg);
  }
   .login-container .cover .front,
   .login-container .cover .back{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  .cover .back{
    transform: rotateY(180deg);
    backface-visibility: hidden;
  }
  .login-container .cover::before,
  .login-container .cover::after{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: var(--nav-color);
    opacity: 0.5;
    z-index: 12;
  }
  .login-container .cover::after{
    opacity: 0.3;
    transform: rotateY(180deg);
    backface-visibility: hidden;
  }
  .login-container .cover img{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 10;
  }
  .login-container .cover .text{
    position: absolute;
    z-index: 130;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .cover .text .text-1,
  .cover .text .text-2{
    font-size: 26px;
    font-weight: 600;
    color: #fff;
    text-align: center;
  }
  .cover .text .text-2{
    font-size: 15px;
    font-weight: 500;
  }
  .login-container .login-forms{
    height: 100%;
    width: 100%;
    background: #fff;
  }
  .login-container .login-form-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .login-form-content .login-form,
  .login-form-content .signup-form{
    width: calc(100% / 2 - 25px);
  }
  .login-forms .login-form-content .title{
    position: relative;
    font-size: 24px;
    font-weight: 500;
    color: #333;    
  }
  .login-forms .login-form-content .title:before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 25px;
    background: var(--nav-color);
  }
  .login-forms .signup-form  .title:before{
    width: 20px;
  }
  .login-forms .login-form-content .input-boxes{
    margin-top: 30px;
  }
  .login-forms .login-form-content .input-box{
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    margin: 10px 0;
    position: relative;
  }
  .login-form-content .input-box input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    padding: 0 30px;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 2px solid rgba(0,0,0,0.2);
    transition: all 0.3s ease;
  }
  .login-form-content .input-box input:focus,
  .login-form-content .input-box input:valid{
    border-color: var(--nav-color);
  }
  .login-form-content .input-box i{
    position: absolute;
    color: var(--nav-color);
    font-size: 17px;
  }
  .login-forms .login-form-content .text{
    font-size: 14px;
    font-weight: 500;
    color: #333;
  }
  .login-forms .login-form-content .text a{
    text-decoration: none;
  }
  .login-forms .login-form-content .text a:hover{
    text-decoration: underline;
  }
  .login-forms .login-form-content .button{
    color: #fff;
    margin-top: 40px;
  }
  .login-forms .login-form-content .button input{
    color: #fff;
    background: var(--nav-color);
    border-radius: 6px;
    padding: 0;
    cursor: pointer;
    transition: all 0.4s ease;
  }
  .login-forms .login-form-content .button input:hover{
    background: var(--nav-color);
  }
  .login-forms .login-form-content label{
    color: var(--nav-color);
    cursor: pointer;
  }
  .login-forms .login-form-content label:hover{
    text-decoration: underline;
  }
  .login-forms .login-form-content .login-text,
  .login-forms .login-form-content .sign-up-text{
    text-align: center;
    margin-top: 25px;
  }
  .login-container #flip{
    display: none;
  }

  .line{
    position: relative;
    height: 1px;
    width: 100%;
    margin: 36px 0;
    background-color: #d4d4d4;
    }
    .line::before{
        content: 'Or';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #FFF;
        color: #8b8b8b;
        padding: 0 15px;
    }

    .login-field{
        position: relative;
        height: 50px;
        width: 100%;
        margin-top: 20px;
        border-radius: 6px;
    }

    .login-field button{
        height: 100%;
        width: 100%;
        border: none;
        font-size: 16px;
        font-weight: 400;
        border-radius: 6px;
        background: var(--nav-color);
        color:#FFF;
        cursor: pointer;
    }
    
    .media-options {
      background-color: #92587215;;
    }

    .media-options a{
        color: #0171d3;
        text-decoration: none;
    }
    .media-options a{
        display: flex;
        align-items: center;
        justify-content: center;
    }
 
    img.google-img{
        position: absolute;
        top: 50%;
        left: 15px;
        transform: translateY(-50%);
    }
    img.google-img{
        height: 20px;
        width: 20px;
        object-fit: cover;
    }
    a.google{
        border: 1px solid #CACACA;
    }
    a.google span{
        font-weight: 500;
        opacity: 0.6;
        color: #232836;
    }


    .popup {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 500px;
      padding: 40px;
      color: #333;
      background-color: #f9f9f9;
      border: 2px solid #dcdcdc;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
      border-radius: 20px;
      z-index: 1000 !important;
      text-align: center;
      font-size: 24px;
      line-height: 1.5;
    }
    
    .popup p {
      margin-bottom: 30px;
    }
    
    .popup i{
      font-size: 80px;
      color: var(--agreen-button);
    }

    .popup h2{
      margin-top: 20px;
      font-size: 35px;
      font-weight: 500;
      color: #333;
    }

    .popup button {
      background-color: var(--nav-color);
      color: #fff;
      border: none;
      padding: 10px 20px;
      cursor: pointer;
      border-radius: 5px;
      font-size: 18px;
    }

    .popup .pay-button{
      background-color: var(--agreen-button);
      color: #fff;
      border: none;
      padding: 10px 28px;
      cursor: pointer;
      border-radius: 5px;
      font-size: 18px;
      margin-right: 2px;
      text-decoration: none;
    }

    .popup .close-button{
      background-color: var(--cancel-button);
      color: #fff;
      border: none;
      padding: 10px 20px;
      cursor: pointer;
      border-radius: 5px;
      font-size: 18px;
      text-decoration: none;
    }
    
    .overlay_popup {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 999 !important;
    }
    
    
  @media (max-width: 730px) {
    .login-container .cover{
      display: none;
    }
    .login-form-content .login-form,
    .login-form-content .signup-form{
      width: 100%;
    }
    .login-form-content .signup-form{
      display: none;
    }
    .login-container #flip:checked ~ .login-forms .signup-form{
      display: block;
    }
    .login-container #flip:checked ~ .login-forms .login-form{
      display: none;
    }
  }