{% extends "base.html" %}

{% block header %}
<header class="header">
  <nav class="nav">
    <a href="#" class="nav_logo">Lincoln Cinema <span>{{ role }}</span></a>
    <ul class="nav_items">
      <li class="nav_item">
        <a href="/customer_home" class="nav_link">Home</a>
        <a href="/booking_detail" class="nav_link">My Booking</a>
      </li>
    </ul>
    <a class="button" href="/logout">Logout</a>
  </nav>
</header>
{% endblock %}

{% block content %}

<div class="booking-container">

    {% if msg %}
    <div class="overlay_popup">
        <div class="popup">
            <p>{{ msg }}</p>
            <button onclick="closePopup()">Close</button>
        </div>
    </div>
    {% endif %}

    <div class="booking-label">
        <h3>Booking</h3>
    </div>

    <div class="booking-list"> 
        <ul>
            {% for booking in booking_list %}
              <li>
                  <p>Booking ID: {{ booking.bookingID }}</p>
                  <p>Movie Title: {{ booking.movie.title }}</p>
                  <p>Screening Date: {{ booking.screening.screeningDate }}</p>
                  <p>Status: {{ booking.status }}</p>
                  {% if booking.status != "Canceled" %}
                  <div class="cancel-button">
                    <a href="/cancel_booking?bookingID={{ booking.bookingID }}">Cancel Booking</a>
                  </div>
                  {% endif %}
              </li>
            {% endfor %}
        </ul>
    </div>
</div>

<script>
    function closePopup() {
        document.querySelector('.overlay_popup').style.display = 'none';
    }
</script>    


{% endblock %}