{% extends "base.html" %}

{% block header %}
<header class="header">
  <nav class="nav">
    <a href="#" class="nav_logo">Lincoln Cinema <span>{{ role }}</span></a>
    <ul class="nav_items">
      <li class="nav_item">
        <a href="/customer_home" class="nav_link">Home</a>
        <a href="#" class="nav_link">Welcome {{ customer.username }}</a>
        <a href="#" class="nav_link">Services</a>
        <a href="#" class="nav_link">Contact</a>
      </li>
    </ul>
    <a class="button" href="/logout">Logout</a>
  </nav>
</header>
{% endblock %}

{% block content %}

<div class="home-container">

  <div class="search-box">
    <i class="bx bx-search"></i>
    <input type="text" placeholder="Search a movie" />
  </div>

  <div class="content">

    <div class="images">
      {% if filtered_movies %}
      {% for movie in filtered_movies %}
      <div class="cards" data-name="{{ movie.title }}">
        <div class="image-box" >
          <img src="../static/images/{{ movie.title }}.jpg" alt="" />
        </div>

        <div class="info-box">
          <h6 class="title">{{ movie.title }}</h6>
          <h6 class="lang">{{ movie.language }}</h6>
          <h6 class="genre">{{ movie.genre }}</h6>
          <h6 class="date">{{ movie.releaseDate }}</h6>
          <a href="/movie_detail?movie_id={{ movie.movieID }}">Detail</a>
        </div>
      </div>   
      {% endfor %}
      {% else %}

      {% for movie in movie_list %}
      <div class="cards" data-name="{{ movie.title }}">
        <div class="image-box" >
          <img src="../static/images/{{ movie.title }}.jpg" alt="" />
        </div>

        <div class="info-box">
          <h6 class="title">{{ movie.title }}</h6>
          <h6 class="lang">{{ movie.language }}</h6>
          <h6 class="genre">{{ movie.genre }}</h6>
          <h6 class="date">{{ movie.releaseDate }}</h6>
          <a href="/movie_detail?movie_id={{ movie.movieID }}">Detail</a>
        </div>
      </div>
      {% endfor %}
      {% endif %}
    </div>

    <div class="filters">
      <div class="filter-box">
        <h3>Filter Results</h3>
        <i class='bx bx-filter-alt'></i>
      </div>

      <div class="filter_items">
        <div class="card">
          <h3>Genre</h3>
          <div class="item">
            <form id="filter-form" method="POST" action="/search_genre">
              <input type="radio" id="genre-all" name="genre" value="All" checked>
              <label for="genre-all">All</label>
          
              <input type="radio" id="genre-action" name="genre" value="Action">
              <label for="genre-action">Action</label>
          
              <input type="radio" id="genre-drama" name="genre" value="Drama">
              <label for="genre-drama">Drama</label>
          
              <input type="radio" id="genre-comedy" name="genre" value="Comedy">
              <label for="genre-comedy">Comedy</label>
          
              <button type="submit">Filter</button>
            </form> 
          </div>
        </div>
        <div class="card">
          <h3>Language</h3>
          <div class="item">
            <form id="filter-form" method="POST" action="/search_lang">
              <input type="radio" id="lang-all" name="lang" value="All" checked>
              <label for="lang-all">All</label>
          
              <input type="radio" id="lang-1" name="lang" value="English">
              <label for="lang-1">English</label>
          
              <input type="radio" id="lang-2" name="lang" value="Chinese">
              <label for="lang-2">Chinese</label>
          
              <input type="radio" id="lang-3" name="lang" value="Spanish">
              <label for="lang-3">Spanish</label>
          
              <button type="submit">Filter</button>
            </form> 
          </div>
        </div>
        <div class="card">
          <h3>Release Date</h3>
          <div class="item">
            <form id="filter-form" method="POST" action="/search_date">
              <input type="radio" id="date-all" name="date" value="All" checked>
              <label for="date-all">All</label>
          
              <input type="radio" id="date-1" name="date" value="2023">
              <label for="date-1">2023</label>
          
              <input type="radio" id="date-2" name="date" value="2022">
              <label for="date-2">2022</label>
          
              <input type="radio" id="date-3" name="date" value="2021">
              <label for="date-3">2021</label>

              <input type="radio" id="date-4" name="date" value="2020">
              <label for="date-4">2020</label>
          
              <button type="submit">Filter</button>
            </form>
          </div>
        </div>
      </div>
      
    </div>

  </div>

</div>

<footer class="footer">
  <div>
    <span>Copyright © 2023 All Rights Reserved</span>
    <span class="link">
        <a href="#">Home</a>
        <a href="#contact">Contact</a>
    </span>
  </div>
</footer>

<script src="../static/js/homepage.js"></script>

{% endblock %}
