{% extends "base.html" %}

{% block header %}
<header class="header">
  <nav class="nav">
    <a href="#" class="nav_logo">CodingLab</a>
    <ul class="nav_items">
      <li class="nav_item">
        <a href="#" class="nav_link">Home</a>
        <a href="#" class="nav_link">Product</a>
        <a href="#" class="nav_link">Services</a>
        <a href="#" class="nav_link">Contact</a>
      </li>
    </ul>
    <a class="button" href="/login">Login</a>
  </nav>
</header>
{% endblock %}

{% block content %}

<div class="home-container">
 
  <div>
    {% for movie in movie_list %}
    <p>{{ movie.title }}</p>
    <p>{{ movie.language }}</p>
    <p>{{ movie.genre }}</p>
    <p>{{ movie.releaseDate }}</p>
    {% endfor %}
  </div>

  <div class="images">
    <div class="image-box" data-name="spiderman">
      <img src="../static/images/spiderman.jpg" alt="" />
      <h6 class="title">spiderman</h6>
      <h6 class="lang">English</h6>
      <h6 class="genre">Movie</h6>
    </div>
    <div class="image-box" data-name="joker">
      <img src="../static/images/joker.jpg" alt="" />
      <h6 class="title">joker</h6>
      <h6 class="lang">English</h6>
      <h6 class="genre">Movie</h6>
    </div>
    <div class="image-box" data-name="ironman">
      <img src="../static/images/ironman.jpg" alt="" />
      <h6 class="title">ironman</h6>
      <h6 class="lang">English</h6>
      <h6 class="genre">Movie</h6>
    </div>
    <div class="image-box" data-name="passenger">
      <img src="../static/images/passenger.jpg" alt="" />
      <h6 class="title">passenger</h6>
      <h6 class="lang">English</h6>
      <h6 class="genre">Movie</h6>
    </div>
    <div class="image-box" data-name="space">
      <img src="../static/images/space.jpg" alt="" />
      <h6 class="title">the space</h6>
      <h6 class="lang">English</h6>
      <h6 class="genre">Movie</h6>
    </div>
    <div class="image-box" data-name="spiderman">
      <img src="../static/images/spiderman2.jpg" alt="" />
      <h6 class="title">spiderman 2</h6>
      <h6 class="lang">English</h6>
      <h6 class="genre">Movie</h6>
    </div>
    <div class="image-box" data-name="universe">
      <img src="../static/images/universe.jpg" alt="" />
      <h6 class="title">the universe</h6>
      <h6 class="lang">English</h6>
      <h6 class="genre">Movie</h6>
    </div>
    <div class="image-box" data-name="spiderman">
      <img src="../static/images/spiderman3.jpg" alt="" />
      <h6 class="title">spiderman 3</h6>
      <h6 class="lang">English</h6>
      <h6 class="genre">Movie</h6>
    </div>
    <div class="image-box" data-name="holiday">
      <img src="../static/images/holiday.jpg" alt="" />
      <h6 class="title">holiday</h6>
      <h6 class="lang">English</h6>
      <h6 class="genre">Movie</h6>
    </div>
    <div class="image-box" data-name="ironman">
      <img src="../static/images/ironman2.jpg" alt="" />
      <h6 class="title">ironman 2</h6>
      <h6 class="lang">English</h6>
      <h6 class="genre">Movie</h6>
    </div>
  </div>

  <div class="filters">
    <div class="search-box">
      <i class="bx bx-search"></i>
      <input type="text" placeholder="Search a movie" />
    </div>

    <div class="filter-box">
      <h3>Filter Results</h3>
      <ul class="filter_items">
        <li class="filter_item">
          Genre
        </li>
        <li class="filter_item">
          Language
        </li>
      </ul>
    </div>

  </div>

</div>

    <footer class="footer">
      <div>
        <span>Copyright © 2023 All Rights Reserved</span>
        <span class="link">
            <a href="#">Home</a>
            <a href="#contact">Contact</a>
        </span>
      </div>
    </footer>

    <script src="../static/js/homepage.js"></script>

{% endblock %}
