{% extends "base.html" %}

{% block header %}
<header class="header">
  <nav class="nav">
    <a href="#" class="nav_logo">Lincoln Cinema <span>{{ role }}</span></a>
    {% if role == "Customer" %}
    <ul class="nav_items">
      <li class="nav_item">
        <a href="/customer_home" class="nav_link">Home</a>
        <a href="#" class="nav_link">Product</a>
        <a href="#" class="nav_link">Services</a>
        <a href="#" class="nav_link">Contact</a>
      </li>
    </ul>
    {% elif role == "Admin" %}
    <ul class="nav_items">
        <li class="nav_item">
          <a href="/admin_home" class="nav_link">Home</a>
          <a href="#" class="nav_link">Product</a>
          <a href="#" class="nav_link">Services</a>
          <a href="#" class="nav_link">Contact</a>
        </li>
    </ul>
    {% else %}
    <ul class="nav_items">
        <li class="nav_item">
        <a href="/staff_home" class="nav_link">Home</a>
        <a href="#" class="nav_link">Product</a>
        <a href="#" class="nav_link">Services</a>
        <a href="#" class="nav_link">Contact</a>
        </li>
    </ul>
    {% endif %}
    <a class="button" href="/logout">Logout</a>
  </nav>
</header>
{% endblock %}

{% block content %}

<div class="movie-container">

  {% if msg %}
  <div class="overlay_popup">
      <div class="popup">
          <p>{{ msg }}</p>
          <button onclick="closePopup()">Close</button>
      </div>
  </div>
  {% endif %}

  {% if screenglist %}
  {% for screening in screenglist %}
  <h3>{{screening.endTime}}</h3>
  <h3>{{screening.startTime}}</h3>
  {% endfor %}
  {% endif %}

<div class="content">
    <div class="movies">
      <div class="cards" data-name="{{ movie.title }}">
        <div class="image-box" >
          <img src="../static/images/{{ movie.title }}.jpg" alt="" />
        </div>
        <div class="info-box">
          <h6 class="title">{{ movie.title }}</h6>
          <h6 class="lang">Language: {{ movie.language }}</h6>
          <h6 class="genre">Genre: {{ movie.genre }}</h6>
          <h6 class="date">Release Date{{ movie.releaseDate }}</h6>
        </div>
      </div>
      
      <div class="schedules">
        <div class="schedule-info">
          <h2>Movie schedules</h2>
        </div>
        <form id="filter-form" method="POST" action="/search_date">   
           <div class="item">
              <div class="form-item">
                <input type="radio" id="date-all" name="date" value="All" checked>
                <label for="date-all">
                  <h3>2023-03-03</h3>
                  <h3>7:00-9:00</h3>
                </label>
              </div>

              <div class="form-item">
                <input type="radio" id="date-1" name="date" value="2023">
                <label for="date-1">
                  <h3>2023-03-03</h3>
                  <h3>7:00-9:00</h3>
                </label>
              </div>

              <div class="form-item">
                <input type="radio" id="date-2" name="date" value="2022">
                <label for="date-2">
                  <h3>2023-03-03</h3>
                  <h3>7:00-9:00</h3>
                </label>
              </div>
            </div>
        </form> 
        
        {% if role == "Admin" %}
        <div class="add-screening">
          <button id="openModalButton" class="add-screening-button">Add A Screening</button>
          <div id="myModal" class="modal">
              <div class="modal-content">
                  <span class="close" id="closeModalButton">&times;</span>
                  <h2>Add A New Movie</h2>
                    <form action="/add_screening" method="post">
                      <div class="form-group">
                        <label for="movie_id">Movie:</label>
                        <input type="text" id="movie_id" name="movie_id" value="{{ movie.movieID }}">
                      </div>
                      <div class="form-group">
                          <label for="date">Date:</label>
                          <input type="text" id="date" name="date" required>
                      </div>
                      <div class="form-group">
                          <label for="start">Start Time:</label>
                          <input type="date" id="start" name="startTime" required>
                      </div>
                      <div class="form-group">
                          <label for="end">End Time:</label>
                          <input type="date" id="end" name="endTime" required>
                      </div>
                      <div class="form-group">
                          <label for="hall">Hall Name:</label>
                          <input type="text" id="hall" name="hallName" required>
                      </div>
                      <div class="form-group">
                          <button type="submit">Add Screening</button>
                      </div>
                    </form>
                </div>
            </div>
        </div>
      {% endif %}

      </div>

    </div>
</div>

<script src="../static/js/movie.js"></script>

{% endblock %}
