{% extends "base.html" %}

{% block header %}
<header class="header">
  <nav class="nav">
    <a href="#" class="nav_logo">Lincoln Cinema <span>{{ role }}</span></a>
    {% if role == "Customer" %}
    <ul class="nav_items">
      <li class="nav_item">
        <a href="/customer_home" class="nav_link">Home</a>
        <a href="/booking_detail" class="nav_link">My Booking</a>
      </li>
    </ul>
    {% elif role == "Admin" %}
    <ul class="nav_items">
        <li class="nav_item">
          <a href="/admin_home" class="nav_link">Home</a>
          <a href="#" class="nav_link">Product</a>
          <a href="#" class="nav_link">Services</a>
          <a href="#" class="nav_link">Contact</a>
        </li>
    </ul>
    {% else %}
    <ul class="nav_items">
        <li class="nav_item">
        <a href="/staff_home" class="nav_link">Home</a>
        <a href="#" class="nav_link">Product</a>
        <a href="#" class="nav_link">Services</a>
        <a href="#" class="nav_link">Contact</a>
        </li>
    </ul>
    {% endif %}
    <a class="button" href="/logout">Logout</a>
  </nav>
</header>
{% endblock %}

{% block content %}

<div class="movie-container">

  {% if msg %}
  <div class="overlay_popup">
      <div class="popup">
          <p>{{ msg }}</p>
          <button onclick="closePopup()">Close</button>
      </div>
  </div>
  {% endif %}

<div class="content">
    <div class="movies">
      <div class="cards" data-name="{{ movie.title }}">
        <div class="image-box" >
          <img src="../static/images/{{ movie.title }}.jpg" alt="" />
        </div>
        <div class="info-box">
          <h6 class="title">{{ movie.title }}</h6>
          <h6 class="lang">Language: {{ movie.language }}</h6>
          <h6 class="genre">Genre: {{ movie.genre }}</h6>
          <h6 class="date">Release Date{{ movie.releaseDate }}</h6>
        </div>
      </div>
      
      <div class="schedules">
        <div class="schedule-info">
          <h2>Movie schedules</h2>
        </div>
        
        <form id="filter-form" method="POST" action="/screening_seat">   
           <div class="item"> 
            {% for screening in screenglist %}
              <div class="form-item">
                <input type="text" name="movieID" value="{{ movie.movieID }}" style="display: none;">            
                <input type="radio" id="{{screening.screeningID}}" name="screeningID" value="{{screening.screeningID}}" required>
                <label for="{{screening.screeningID}}">
                  <h3>{{ screening.screeningDate }}</h3>
                  <h3>Start Time: {{screening.startTime}}</h3>
                  <h3>End Time: {{screening.endTime}}</h3>
                </label>         
              </div>    
              {% endfor %}            
            </div>
        </form>    
        
        {% if role == "Admin" %}
        <div class="add-screening">
          <button id="openModalButton" class="add-screening-button">Add A Screening</button>
          <div id="myModal" class="modal">
              <div class="modal-content">
                  <span class="close" id="closeModalButton">&times;</span>
                  <h2>Add A New Screening</h2>
                    <form action="/add_screening" method="post" class="add-screening-form">
                      <div class="form-group" style="display: none;">
                        <label for="movie_id">Movie:</label>
                        <input type="text" id="movie_id" name="movie_id" value="{{ movie.movieID }}">
                      </div>
                      <div class="form-group">
                          <label for="date">Date:</label>
                          <input type="date" id="date" name="date" required>
                      </div>
                      <div class="form-group">
                          <label for="start">Start Time:</label>
                          <input type="text" id="start" name="startTime" required>
                      </div>
                      <div class="form-group">
                          <label for="end">End Time:</label>
                          <input type="text" id="end" name="endTime" required>
                      </div>
                      <div class="form-group">
                          <label for="hall">Hall Name:</label>
                          <select id="hall" name="hallName" required>
                            <option value="Hall-1">Hall-1</option>
                            <option value="Hall-2">Hall-2</option>
                            <option value="Hall-3">Hall-3</option>
                            <option value="Hall-4">Hall-4</option>
                          </select>
                      </div>
                      <div class="form-group">
                          <button type="submit">Add Screening</button>
                      </div>
                    </form>
                </div>
            </div>
        </div>
      {% endif %}

      </div>

    </div>
</div>

<script src="../static/js/movie.js"></script>

{% endblock %}
