{% extends "base.html" %}

{% block header %}
<header class="header">
  <nav class="nav">
    <a href="#" class="nav_logo">Lincoln Cinema <span>{{ role }}</span></a>
    {% if role == "Customer" %}
    <ul class="nav_items">
      <li class="nav_item">
        <a href="/customer_home" class="nav_link">Home</a>
        <a href="#" class="nav_link">Product</a>
        <a href="#" class="nav_link">Services</a>
        <a href="#" class="nav_link">Contact</a>
      </li>
    </ul>
    {% elif role == "Admin" %}
    <ul class="nav_items">
        <li class="nav_item">
          <a href="/admin_home" class="nav_link">Home</a>
          <a href="#" class="nav_link">Product</a>
          <a href="#" class="nav_link">Services</a>
          <a href="#" class="nav_link">Contact</a>
        </li>
    </ul>
    {% else %}
    <ul class="nav_items">
        <li class="nav_item">
        <a href="/staff_home" class="nav_link">Home</a>
        <a href="#" class="nav_link">Product</a>
        <a href="#" class="nav_link">Services</a>
        <a href="#" class="nav_link">Contact</a>
        </li>
    </ul>
    {% endif %}
    <a class="button" href="/logout">Logout</a>
  </nav>
</header>
{% endblock %}

{% block content %}

<div class="seat-container">

  {% if msg %}
  <div class="overlay_popup">
      <div class="popup">
          <p>{{ msg }}</p>
          <button onclick="closePopup()">Close</button>
      </div>
  </div>
  {% endif %}

  <div class="payment-container">
    <p class="seat-info">Total Seats: {{selected_seats}}</p>
    <p class="seat-info">Amount: {{total_price}}</p>
  </div>




</div>
  {% endblock %}