{% extends "base.html" %}

{% block header %}
<header class="header">
  <nav class="nav">
    <a href="#" class="nav_logo">Lincoln Cinema <span>{{ role }}</span></a>
    {% if role == "Customer" %}
    <ul class="nav_items">
      <li class="nav_item">
        <a href="/customer_home" class="nav_link">Home</a>
        <a href="/booking_detail" class="nav_link">My Booking</a>
      </li>
    </ul>
    {% elif role == "Admin" %}
    <ul class="nav_items">
        <li class="nav_item">
          <a href="/admin_home" class="nav_link">Home</a>
          <a href="/booking_detail" class="nav_link">Booking Management</a>
        </li>
    </ul>
    {% else %}
    <ul class="nav_items">
        <li class="nav_item">
          <a href="/staff_home" class="nav_link">Home</a>
          <a href="/booking_detail" class="nav_link">Booking Management</a>
        </li>
    </ul>
    {% endif %}
    <a class="button" href="/logout">Logout</a>
  </nav>
</header>
{% endblock %}

{% block content %}

<div class="seat-container">

  {% if msg %}
  <div class="overlay_popup">
      <div class="popup">
          <p>{{ msg }}</p>
          <button onclick="closePopup()">Close</button>
      </div>
  </div>
  {% endif %}

    
    <div class="movie-seat-container">
      <p class="seat-info">Movie: {{movie.title}}</p>
      <p class="seat-info">Hall: {{hall.name}}</p>
      <p class="seat-info">Screening Date: {{screening.screeningDate}}</p>
      <p class="seat-info">Start Time: {{screening.startTime}}</p>
      <p class="seat-info">End Time: {{screening.endTime}}</p>
    </div>

    <ul class="showcase">
      <li>
        <div class="seat"></div>
        <small>N/A</small>
      </li>
      <li>
        <div class="seat selected"></div>
        <small>Selected</small>
      </li>
      <li>
        <div class="seat occupied"></div>
        <small>Occupied</small>
      </li>
    </ul>

    {% set num_rows = max_row|int %}
    {% set num_cols = max_column|int %}

    <div class="seat-grid">

    <div class="container"> 
    
      <style>
        .container {
          display: grid;
          grid-template-rows: repeat({{ num_rows }}, 50px);
          grid-template-columns: repeat({{ num_cols }}, 70px);
        }
      </style>

        {% for seat in seats %}
          <div class="seat {% if seat.booked %}occupied{% endif %}"
            data-seat-id="{{ seat.seatID }}"
            data-row="{{ seat.row }}" 
            data-column="{{ seat.column }}"
            data-price="{{seat.price|int}}"
            {% if not seat.booked %} onclick="selectSeat(event)" {% endif %}>
            {{seat.row}}-{{seat.column}}
          </div>
        {% endfor %}

        </div>
    </div>

    <div class="seat-confirm">
    <p class="text">
      You have selected <span id="count">{{selected_seats|length}}</span> seats for a price of $
      <span id="total">{{total_price|int}}</span>
    </p>
    <button id="submit-seats" class="submit">Proceed to Payment</button>
    <button class="back" onclick="history.back()">Back</button>
    <div>
</div>



<form id="seats-form" method="POST" action="{{ url_for('booking_seat') }}">
  <input type="hidden" name="selected_seats" id="selected-seats-input" value="">
  <input type="hidden" name="total_price" value="{{ total_price }}">  
  <input type="hidden" name="screeningID" value="{{ screening.screeningID }}"> 
  <input type="hidden" name="movieID" value="{{ movie.movieID }}"> 
</form>

<script>
  let selectedSeats = {% if selected_seats %} {{ selected_seats|tojson }} {% else %} [] {% endif %};

  let totalPrice = {% if total_price %} {{ total_price|int }} {% else %} 0 {% endif %};

  function selectSeat(event) {

    const seat = event.target;
    const seatId = seat.dataset.seatId;
  
    // Toggle selected class
    seat.classList.toggle('selected');
  
    // Update totals
    if(seat.classList.contains('selected')) {
      selectedSeats.push({
        seatId: seatId,
        row: seat.dataset.row,
        column: seat.dataset.column,
        price: seat.dataset.price
      }); 
      totalPrice += Number(seat.dataset.price);
    } else {
      // Remove seat from selection
      selectedSeats = selectedSeats.filter((selectedSeat) => selectedSeat.seatId !== seatId);
      totalPrice -= seat.dataset.price;
    }
  
    // Update DOM
    document.getElementById('count').innerText = selectedSeats.length;
    document.getElementById('total').innerText = totalPrice;  

    // Update the hidden input field with selected seats JSON data
    const selectedSeatsInput = document.getElementById('selected-seats-input');
    selectedSeatsInput.value = JSON.stringify(selectedSeats);
  }


  const submitBtn = document.getElementById('submit-seats');
  const seatsForm = document.getElementById('seats-form');

  submitBtn.addEventListener('click', () => {

    // Update hidden inputs with current values
    seatsForm.querySelector('[name="selected_seats"]').value = JSON.stringify(selectedSeats);  
    seatsForm.querySelector('[name="total_price"]').value = totalPrice;
    
    seatsForm.submit();

  });


</script>

{% endblock %}