{% extends "base.html" %}

{% block header %}
<header class="header">
  <nav class="nav">
    <a href="#" class="nav_logo">Lincoln Cinema <span>{{ role }}</span></a>
    {% if role == "Customer" %}
    <ul class="nav_items">
      <li class="nav_item">
        <a href="/customer_home" class="nav_link">Home</a>
        <a href="#" class="nav_link">Product</a>
        <a href="#" class="nav_link">Services</a>
        <a href="#" class="nav_link">Contact</a>
      </li>
    </ul>
    {% elif role == "Admin" %}
    <ul class="nav_items">
        <li class="nav_item">
          <a href="/admin_home" class="nav_link">Home</a>
          <a href="#" class="nav_link">Product</a>
          <a href="#" class="nav_link">Services</a>
          <a href="#" class="nav_link">Contact</a>
        </li>
    </ul>
    {% else %}
    <ul class="nav_items">
        <li class="nav_item">
        <a href="/staff_home" class="nav_link">Home</a>
        <a href="#" class="nav_link">Product</a>
        <a href="#" class="nav_link">Services</a>
        <a href="#" class="nav_link">Contact</a>
        </li>
    </ul>
    {% endif %}
    <a class="button" href="/logout">Logout</a>
  </nav>
</header>
{% endblock %}

{% block content %}

<div class="seat-container">

  {% if msg %}
  <div class="overlay_popup">
      <div class="popup">
          <p>{{ msg }}</p>
          <button onclick="closePopup()">Close</button>
      </div>
  </div>
  {% endif %}

    
    <div class="movie-seat-container">
      <label>Pick a movie:</label>
      <select id="movie">
        <option value="10">Avengers: Endgame ($10)</option>
        <option value="12">Joker ($12)</option>
        <option value="8">Toy Story 4 ($8)</option>
        <option value="9">The Lion King ($9)</option>
      </select>
    </div>

    <ul class="showcase">
      <li>
        <div class="seat"></div>
        <small>N/A</small>
      </li>
      <li>
        <div class="seat selected"></div>
        <small>Selected</small>
      </li>
      <li>
        <div class="seat occupied"></div>
        <small>Occupied</small>
      </li>
    </ul>


    <div class="container"> 
        {% for seat in seats %}
          <div class="seat {% if seat.booked %}booked{% endif %}"
            data-row="{{ seat.row }}" data-column="{{ seat.column }}">
            {{seat.row}}
          </div>
        {% endfor %}
    </div>

    <p class="text">
      You have selected <span id="count">0</span> seats for a price of $<span
        id="total"
        >0</span
      >
    </p>
</div>

<script src="../static/js/seat.js"></script>

{% endblock %}