{% extends "base.html" %}

{% block content %}

<div>
    <h1>Enter the File Name and Location:</h1>
    <form method="POST" action="/read_file">
        <label for="file_path">File Name:</label>
        <input type="text" name="file_path" id="file_path" required>
        <input type="submit" value="Read File">
    </form>

    <h1>Enter the Movie:</h1>
    <form method="POST" action="/write_file">
        <label for="movie_name">Movie Name:</label>
        <input type="text" name="movie_name" id="movie_name" required>
        <input type="submit" value="Write File">
    </form>

    {% if content%}
    <h1>File Content:</h1>
    <ul>
        {% for line in content.split('\n') %}
            <li>{{ line }}</li>
        {% endfor %}
    </ul>
    {% endif%}
</div>

{% endblock %}
